html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.title-wrapper {
    position: relative;
}

.title {
    top: 10px;
    left: 50px;
    position: absolute;
}

.logo{
    width: 40px;
}

.title-2 {
    color: green;
}

.input {
    display: block;
    margin: 5px 0px;
    height: 20px;
    width: 200px;
}

.job-wrapper {
    margin: 10px 0px;
}

.qualifications-wrapper {
    margin: 10px 0px;
}

.qualifications-area {
    display: block;
    width: 300px;
    resize: none;
}

.exclusions-wrapper {
    margin: 10px 0px;
}

.exclusions-area {
    width: 300px;
    resize: none;
    display: block;
}

.price-wrapper {
    margin: 10px 0px;
}

.price-input-wrapper {
    display: block;
}

.price-input {
    margin: 2px 0px;
}

.success {
    background-color: rgb(112, 255, 112);
}

.location-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    height: 15px;
}

.save-label-label {
    color: black;
    font-style: normal;
    font-weight: bold;
}

.save-label-location {
    color: grey;
    font-style: italic;
}

.errors {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
    width: 100%;
    font-size: 14px;
}

.error-highlight {
    font-size: 16px;
    text-decoration: underline;
}

.input-line-wrapper {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: 25px;
}

.input-success-marker {
    border: 1px solid black;
    display: inline-block;
    width: 23px;
    height: 23px;
}

.csv-button {
    border: 1px solid black;
    width: 150px;
    height: 100%;
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(221, 221, 221);
}

.csv-button:hover {
    cursor: pointer;
}

.save-button {
    border: 1px solid black;
    width: 150px;
    height: 100%;
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(221, 221, 221);
}

.save-button:hover {
    cursor: pointer;
}

.version {
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

.version-label {

}

.default-qual-label-wrapper {
    display: inline-block;
}

.default-qual-label {

}

.input-default-qual:hover {
    cursor: pointer;
}

.default-exclusions-label-wrapper {
    display: inline-block;
}

.default-exclusions-label {

}

.input-default-exclusions:hover {
    cursor: pointer;
}

.settings-view-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.settings-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}

.settings-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    background-color: transparent;
    text-shadow: 1px 1px black;
    font-size: 26px;
    border: none;
    transition-duration: 0.3s;
}

.settings-btn:hover {
    cursor: pointer;
    transform: rotate(45deg);
}

.disabled-input {
    opacity: 50%;
}

.disabled-label {
    opacity: 50%;
    text-decoration: line-through;
}

.start-btn {
    width: 150px;
    height: 30px;
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
}

.start-btn:hover {
    cursor: pointer;
}

.btn-disabled {
    opacity: 50%;
    position: relative;
}

.btn-disabled:after {
    content: "select save location and csv to start";
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    display: none;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.btn-disabled:hover {
    cursor: not-allowed;
}

.btn-disabled:hover:after {
    display: block;
}

.btn-success {

}

